fastapi[standard]
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-multipart
pydantic
bcrypt
python-jose[cryptography]
python-dotenv
validate-docbr
GeoAlchemy2
shapely
##BIBLIOTECA PARA LER ARQUIVOS RELACIONADO AO FRONTEND DO MAPA 
geopandas
alembic